@import "../node_modules/bootstrap/scss/bootstrap";
$color-primary: rgba(22, 20, 18, 1);
$color-tertiary: rgba(199, 189, 177, 1);
$color-seccondary: rgba(221, 217, 214, 1);

body {
  background-color: $color-seccondary;
}
a {
  text-decoration: none;
}
.navbar-collapse {
  justify-content: flex-end;
  padding-right: 2%;
}
.navbar-dark {
  background-color: $color-primary;
}
.nav-link {
  font-size: 1.5rem;
}

#panier {
  font-size: 1.5rem;
}
.card {
  border-radius: 15px;
}
.card-img-top {
  border-radius: 15px 15px 0 0;
}

footer {
  background-color: $color-primary;
  padding: 2%;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  a {
    color: white;
  }
}
// page Article
#submit {
  border-radius: 15px;
  display: block;
  width: 300px;
  height: 60px;
  margin: 20px;
  font-size: 1.2rem;
  background-color: $color-primary;
  color: white;
  font-weight: bold;
}
.btn-sub {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: $color-primary;
  color: white;
  border: none;
}
#suppress-btn {
  border: none;
  background-color: white;
  i {
    font-size: 1.5rem;
  }
}
